* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  
}

.sidebar {
  width: 225px;
  height: 100vh;
  background-color: #8A2BE2;
  float: left;
}

.sidebar p {
  padding: 25px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  float: left;
  width: 100%;  
}

.sidebar li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 18px;
  color: white; 
}

li a:hover {
  background-color: #8B008B;
}

.content {
  height: 100vh;
  width: 80%;
  margin-left: 2%;
  padding: 15px;
  display: inline-block;
}

.content h1 {
  text-align: center;
  font-size: 100px;
  line-height: 550px;
  color: #A9A9A9;
  text-shadow: 4px 4px 1px #8A2BE2;
}

.clear {
  clear: both;
}